In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
titanic = pd.read_csv('titanic.csv')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  Unnamed: 15  0 non-null      float64
dtypes: bool(2), float64(3), int64(4), object(7)
memory usage: 99.3+ KB

In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
print('List of colums:')
print(df.columns)
print("Data types of the Datasets:")
print(df.dtypes)
print("Shapes of the Datasets:")
print(df.shape)

List of colums:
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'Unnamed: 15'],
      dtype='object')
Data types of the Datasets:
survived         int64
pclass           int64
sex             object
age            float64
sibsp            int64
parch            int64
fare           float64
embarked        object
class           object
who             object
adult_male        bool
deck            object
embark_town     object
alive           object
alone             bool
Unnamed: 15    float64
dtype: object
Shapes of the Datasets:
(891, 16)

In [6]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
result = pd.pivot_table(df,index=['sex','age'], aggfunc=np.sum)
print(result)

              Unnamed: 15  adult_male  alone      fare  parch  pclass  sibsp  \
sex    age
female 0.75           0.0           0      0   38.5166      2       6      4
       1.00           0.0           0      0   26.8750      3       6      1
       2.00           0.0           0      0  259.4750      9      15      9
       3.00           0.0           0      0   62.6542      3       5      4
       4.00           0.0           0      0  114.1417      6      13      4
...                   ...         ...    ...       ...    ...     ...    ...
male   70.00          0.0           2      1   81.5000      1       3      1
       70.50          0.0           1      1    7.7500      0       3      0
       71.00          0.0           2      2   84.1584      0       2      0
       74.00          0.0           1      1    7.7750      0       3      0
       80.00          0.0           1      1   30.0000      0       1      0

              survived
sex    age
female 0.75          2
       1.00          2
       2.00          2
       3.00          1
       4.00          5
...                ...
male   70.00         0
       70.50         0
       71.00         0
       74.00         0
       80.00         1

[145 rows x 8 columns]

In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
age = pd.cut(df['age'], [0, 20, 55])
result = df.pivot_table('survived', index=['sex', age], columns='class')
print(result)

class               First    Second     Third
sex    age
female (0, 20]   0.928571  1.000000  0.510638
       (20, 55]  0.968750  0.912281  0.407407
male   (0, 20]   0.571429  0.526316  0.197368
       (20, 55]  0.440000  0.054054  0.134503

In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
result=df.groupby('sex')[['survived']].mean()
print(result)

        survived
sex
female  0.742038
male    0.188908

In [18]:
import pandas as pd
import numpy as np

# Load the Titanic dataset
df = pd.read_csv('titanic.csv')

# Correctly creating age groups
df['Age Group'] = pd.cut(df['age'], bins=[0, 20, 55, np.inf], labels=['Child', 'Adult', 'Senior'])

# Create the Pivot Table, ensuring column names match the dataset's structure

result = pd.pivot_table(df, values='survived', index=['sex', 'Age Group'], columns='pclass', aggfunc=np.mean)

print(result)

pclass                   1         2         3
sex    Age Group
female Child      0.928571  1.000000  0.510638
       Adult      0.968750  0.912281  0.407407
       Senior     1.000000  0.000000  1.000000
male   Child      0.571429  0.526316  0.197368
       Adult      0.440000  0.054054  0.134503
       Senior     0.157895  0.166667  0.000000

In [24]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
df['Age Group'] = pd.cut(df['age'], bins=[0, 10, 30,60,80, np.inf], labels=['age_class_1', 'age_class_2', 'age_class_3', 'age_class_4', 'age_class_5'])
result = pd.pivot_table(df, values='age',  index='Age Group')
print(result)

                   age
Age Group
age_class_1   4.268281
age_class_2  22.721739
age_class_3  41.132509
age_class_4  66.022727

In [28]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
df['Survival Gender']=pd.cut(df['age'], bins=[0,10,30,60,80, np.inf], labels=['group_1', 'group_2', 'group_3', 'group_4', 'group_5'])
result = pd.pivot_table(df, values='survived', index=['sex','Survival Gender'], columns='pclass', aggfunc='count')
print(result)

pclass                     1     2      3
sex    Survival Gender
female group_1           1.0   8.0   22.0
       group_2          34.0  36.0   57.0
       group_3          48.0  30.0   22.0
       group_4           2.0   NaN    1.0
male   group_1           2.0   9.0   22.0
       group_2          24.0  43.0  151.0
       group_3          63.0  44.0   76.0
       group_4          12.0   3.0    4.0

In [29]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
df['Survival Rate'] = pd.cut(df['age'], bins=[0,20,50,60,80, np.inf])
result = pd.pivot_table(df, values='survived', index=['sex','age'], columns='pclass',aggfunc=np.mean)
print(result)

pclass          1    2     3
sex    age
female 0.75   NaN  NaN  1.00
       1.00   NaN  NaN  1.00
       2.00   0.0  1.0  0.25
       3.00   NaN  1.0  0.00
       4.00   NaN  1.0  1.00
...           ...  ...   ...
male   70.00  0.0  0.0   NaN
       70.50  NaN  NaN  0.00
       71.00  0.0  NaN   NaN
       74.00  NaN  NaN  0.00
       80.00  1.0  NaN   NaN

[145 rows x 3 columns]

In [32]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')
df['Survival Rate'] = pd.cut(df['age'], bins=[0,20,50,60,80, np.inf])
#result = pd.pivot_table(df, values='survived', index=['sex','age'], columns='pclass',aggfunc=np.mean)
#create fare categary
median_fare = df['fare'].median()
df['Fare Category'] = pd.cut(df['fare'], bins=[0, median_fare, df['fare'].max()], include_lowest=True, labels=['Low', 'High'])
pivot_table = pd.pivot_table(df, 
                             values='survived', 
                             index=['sex', 'age'], 
                             columns=['pclass', 'Fare Category'], 
                             aggfunc='mean')
print(pivot_table)

pclass          1         2         3
Fare Category Low High  Low High  Low High
sex    age
female 0.75   NaN  NaN  NaN  NaN  NaN  1.0
       1.00   NaN  NaN  NaN  NaN  1.0  1.0
       2.00   NaN  0.0  NaN  1.0  0.5  0.0
       3.00   NaN  NaN  NaN  1.0  NaN  0.0
       4.00   NaN  NaN  NaN  1.0  1.0  1.0
...            ..  ...  ...  ...  ...  ...
male   70.00  NaN  0.0  0.0  NaN  NaN  NaN
       70.50  NaN  NaN  NaN  NaN  0.0  NaN
       71.00  NaN  0.0  NaN  NaN  NaN  NaN
       74.00  NaN  NaN  NaN  NaN  0.0  NaN
       80.00  NaN  1.0  NaN  NaN  NaN  NaN

[145 rows x 6 columns]